* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    padding: 10px;
    text-align: center;
    color: brown;
}
header{
    display: flex;
    flex-direction: column;
    background-image: url(imagens/background.jpg);
    background-repeat: repeat;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(imagens/background.jpg);
    background-repeat: repeat;
    scroll-behavior: smooth;
    padding-top: 90px;
}